body{
    background: scroll;
    background-size: cover;
    background-position: center;
    background-image: url(IMG_20190424_185953.jpg);

}
.basic_deatil img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
   position: relative;
   margin-left: 36%;
    margin-top: -10%;
}
.basic_deatil{
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    height: 79vh;
    width: 49vw;
    background-color: rgb(12, 1, 37);
    border-radius:  20px;
}

h1 {
    margin-top: 2px;
    margin-bottom: 2px;
    color: gold;
    text-align: center;
}
p{
    margin-top: 2px;
    padding: 15px;
    padding-top: 1px;
    color: silver;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
}
h3{
    margin-top: 2px;
  
    margin-bottom: 0px;
    color: rgb(158, 149, 126);
    text-align: center;
}
h2{
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 15%;
    color: rgb(158, 149, 126);
    text-align: start;
}
h4{
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(18, 194, 97);
    text-align: center;
}
b{
    font: lighter 400;
}
.bio{
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-color: rgb(25, 25, 26);
  
}
.bio_paragraph{
    margin-top: 4%;
    width:49vw;
    text-align: center;
}
.edu_deatil{
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    
    background-color: rgb(41, 14, 14);
  
}
span{
    color: antiquewhite;
}

.aside img {
    height: 750px;
    width: 500px;
}